<div class="container contact-form">
            <div class="close row">
                <button mat-button (click)="navigatetoChats()">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <form [formGroup]="profileForm">
                <div class="row imageContainer">
                    <div class="form-group image">
                        <div class="image-container">
                            <img [src]="imgSrc" width="150px" height="150px">
                            <button mat-mini-fab (click)="inputField.click()">
                              <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="profile">
                            <input #inputField type="file" name="picture" class="form-control" placeholder="Profile Picture" (change)="onFileSelected($event)" hidden/>
                        </div>
                    </div>
                </div>
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" name="txtName" class="form-control" placeholder="Username" formControlName="username"/>
                        </div>
                        <div class="form-group">
                            <label for="firstname">First Name</label>
                            <input type="text" name="txtFirstName" class="form-control" placeholder="First Name" formControlName="firstname" />
                        </div>
                        <div class="form-group">
                            <label for="lastname">Last Name</label>
                            <input type="text" name="txtLastName" class="form-control" placeholder="Last Name" formControlName="lastname"/>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Edit Profile" (click)="updateUserProfile()" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" placeholder="Email" formControlName="email"/>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input type="phone" name="phone" class="form-control" placeholder="Phone" value="" formControlName="phone" />
                        </div>
                        <div class="form-group">
                            <label for="status">Status</label>
                            <input type="text" name="status" class="form-control" placeholder="Status" value=""  formControlName="status"/>
                        </div>
                    </div>
                </div>
            </form>
</div>