.contact-form{
    background-image: url("../../../assets/images/wave-haikei.svg");
    color: #fff;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-form label{
    padding: 5px;
    font-size: 14px;
    color: #24282e;
}
.contact-form input{
    border: 1.5px solid #00ADB5;
    background-color: #fff;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 10%;
    margin-top: -3%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.contact-form form{
    padding: 2% 12% 11%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #00ADB5;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 15px;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #00ADB5;
    border: none;
    cursor: pointer;
}
.profile{
    display:flex;
}
.form-icon{
    color: #fff;
    font-size: 75px;
    line-height: 92px;
    height: 70px;
    width: 70px;
    margin: -5px auto 10px;
    border-radius: 50%;
    background-color: #393E46;
    position: absolute;
    left: 47%;
    top:50px;
}
.form-icon i {
    position: absolute;

}
.close{
    text-align:right;
    color:#EB455F;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size:20px;
}
.close button{
    width:10px;
}
.imageContainer{
    display:flex;
    justify-content: center;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img{
    border-radius: 100%;
    border: 1px solid #24282e;
}
.image-container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 50px;
}
  
.image-container  button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    background-color: #EB455F;
}