<div class="conversation">
    <div class="row heading">
      <div class="col-lg-1 col-sm-2 col-md-1 col-xs-3 heading-avatar">
        <div class="heading-avatar-icon">
          <img src="{{currentUser ? currentUser.profile_picture:''}}">
        </div>
      </div>
      <div class="col-lg-10 col-sm-8 col-xs-7 heading-name">
        <p class="heading-name-meta">                  
          {{ currentUser ? (currentUser.first_name + ' ' + currentUser.last_name) : '' }}
        </p>
      </div>
      <div class="col-lg-1 col-sm-1 col-xs-1 pull-right">
        <i class="fa fa-ellipsis-v fa-2x  pull-right" aria-hidden="true"></i>
      </div>
    </div>

    <div class="row message" id="conversation" #chatWindow>
      <div *ngFor="let message of messages">
        <div class="row message-body" *ngIf="loggedInUser?.id === message.user_id; else reciver">
          <div class="col-sm-12 message-main-sender">
            <div class="sender">
              <div class="message-text">
                {{message.text}}
              </div>
              <div class="time">
                <span class="message-time pull-right">
                  {{message.sent_at | date: 'HH:mm'}}
                </span>
                <i class="fa fa-check" aria-hidden="true" [ngStyle]="message.seen_at ? {'color':'#2F58CD'}:{'color':'#b0afaf'}"></i>
              </div>
            </div>
          </div>
        </div>
        <ng-template #reciver>
          <div class="row message-body">
            <div class="col-sm-12 message-main-receiver">
              <div class="receiver">
                <div class="message-text">
                 {{message.text}}
                </div>
                <div class="time">
                  <span class="message-time-rec pull-right">
                    {{message.sent_at | date: 'HH:mm'}}
                  </span>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>

    <div class="row reply">
      <form [formGroup]="replyForm" class="replyForm">
        <div class="col-sm-1 col-xs-1 reply-emojis">
          <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <div class="col-sm-1 col-xs-1 reply-recording">
          <i class="fa fa-paperclip fa-2x" aria-hidden="true"></i>
        </div>
        <div class="col-sm-9 col-xs-9 reply-main">
          <textarea class="form-control" rows="1" id="message" formControlName="message"></textarea>
        </div>
        <div class="col-sm-1 col-xs-1 reply-send" type="submit" (click)="sendMessage()">
          <i class="fa fa-send fa-2x" aria-hidden="true"></i>
        </div>
      </form>
    </div>
  </div>