.side-one {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  display: block;
}

.heading {
  padding: 10px 16px 10px 15px;
  margin: 0;
  height: 60px;
  width: 100%;
  background-color: #222831;
  z-index: 1000;
  border-bottom: 1px solid #393E46;
}

.heading-avatar {
  padding: 0;
  cursor: pointer;

}

.pull-right{
    color:#EEEEEE;
    font-size: 25px;
    padding: 10px;
}

.heading-avatar-icon img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.heading-avatar-icon {
  display: flex;
}
.heading-avatar-icon p{
  padding:10px;
  cursor: pointer;
}

.searchBox {
  padding: 0 !important;
  margin: 0 !important;
  height: 60px;
  width: 100%;
  
}

.searchBox-inner {
  height: 100%;
  width: 100%;
  padding: 10px !important;
  background-color: #24282e;
}


/*#searchBox-inner input {
  box-shadow: none;
}*/

.searchBox-inner input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.sideBar {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #393E46;
  overflow-y: auto;
  border: 1px solid #222831;
  height: 510px !important;
  display: block;
}
.sideBar-body {
  position: relative;
  padding: 10px !important;
  border-bottom: 1px solid #00ADB5;
  height: 72px;
  margin: 0 !important;
  cursor: pointer;
}

.sideBar-body:hover {
  background-color: #f2f2f238;
}

.sideBar-avatar {
  text-align: center;
  padding: 0 !important;
}

.avatar-icon img {
  border-radius: 50%;
  height: 49px;
  width: 49px;
}

.sideBar-main {
  padding: 0 !important;
}

.sideBar-main .row {
  padding: 0 !important;
  margin: 0 !important;
}

.sideBar-name {
  padding: 10px !important;
}

.name-meta {
  font-size: 100%;
  padding: 1% !important;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #EEEEEE;
}

.sideBar-time {
  padding: 10px !important;
}

.time-meta {
  text-align: right;
  font-size: 12px;
  padding: 1% !important;
  color: #EEEEEE;
  vertical-align: baseline;
}

#style-4::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #EEEEEE;
}

#style-4::-webkit-scrollbar
{
	width: 10px;
	background-color: #EEEEEE;
}

#style-4::-webkit-scrollbar-thumb
{
	background-color: #24282e;
	border: 1px solid #393E46;
}