<div class="form-bg ">
    <div class="container ">
        <div class="row d-flex justify-content-center">
            <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="form-container">
                    <h3 class="title">My Account</h3>
                    <form class="form-horizontal">
                        <div class="form-icon">
                            <i class="fa fa-user-circle"></i>
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-user"></i></span>
                            <input type="email" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-exchange"></i></span>
                            <input type="password" class="form-control" placeholder="Confirm Password">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-envelope"></i></span>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <span class="input-icon"><i class="fa fa-phone"></i></span>
                            <input type="phone" class="form-control" placeholder="Phone">
                        </div>
                        <button class="btn signin">Signup</button>
                        <span class="signup">Already have an account <a (click)="navigateToLogin()">Login</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

